body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00439C;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Smooth transition for hiding/revealing */
}

.navbar.hide {
    transform: translateY(-100%); /* Move navbar out of view */
}

.navbar img {
    height: 30px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    margin-right: 50px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background: white;
    transition: width 0.3s;
    left: 0;
    right: 0;
    bottom: -5px;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Section Prediksi */
.prediksi-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

/* Section Header */
.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Garis separator */
.separator {
    width: 60px;
    height: 4px;
    background-color: #0077b6;
    border: none;
    margin: 0 auto;
    border-radius: 2px;
}

/* Form Container */
.form-container {
    background-color: #ffffff; /* Putih polos */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow halus */
}

#predictForm input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#predictForm button {
    background-color: #0077b6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

#predictForm button:hover {
    background-color: #005f87;
}
